<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>MadLib</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body style="color: white;">
    <div class="container" style="Background: linear-gradient(red, purple, blue)">
      <h1>Fill in the mad lib!</h1>
      <form action="/adventure" method="post">
        <div class="form-group">
          <label for="noun">First noun: </label>
          <input id="noun" name="noun" type="text">
          <label for="nounA">Second noun: </label>
          <input id="nounA" name="nounA" type="text">
          <label for="adjective">First adjective: </label>
          <input id="adjective" name="adjective" type="text">
        </div>
        <div class="form-group">
          <label for="adjectiveA">Second adjective: </label>
          <input id="adjectiveA" name="adjectiveA" type="text">
          <label for="location">Location: </label>
          <input id="location" name="location" type="text">
          <label for="adverb">Adverb: </label>
          <input id="adverb" name="adverb" type="text">
        </div>
        <button type="submit" class="btn btn-success">Go!</button><button><a href="/alternate-form" class="btn btn-info">Alternate theme</a></button>
      </form>
    </div>
  </body>
</html>